<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">

	<form class="form-signin" novalidate>
		<h1 class="form-signin-heading text-muted">Sign In</h1>
		<input ng-model="userName" type="text" class="form-control" placeholder="Email address" required="" autofocus="">
		<input type="password" ng-model="password" class="form-control" placeholder="Password" required="">
		<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="validateUser(userName,password)">
			Sign In
		</button>
	</form>

</div>